<%- include("partials/primary_header"); -%>
 <title>TechUni : Jobs</title>

<h1 class="font-bold text-violet-800 text-center text-3xl my-12">ADMIN PREVIEW PAGE</h1>


 <script>

  async function deletePost()
  {
    try 
    {
      
      window.alert(' Show a deleting Icon ') 

          //additional data
          const myDataObject = { post_id: 1 };

          const deleteData = async ( ) =>{
            const response = await fetch("", {
                method: 'DELETE', 
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(myDataObject)
            });

            const data = await response.json( );

            // now do whatever you want with the data  
            console.log(data);
            console.log(' Post Deleted ')
          };
          deleteData( );


    }
    catch(e)
    {
      console.log(' error occured while deleting post ') 
      console.log(e) 
    }
  }


 </script>



<% posts.forEach(function(post){ %>

<ul class="mx-auto my-12 flex list-none flex-col items-center justify-between align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
  <li  class="flex mx-3 w-full flex-col items-start py-6 px-4 shadow-xl sm:mx-auto bg-papayawhip-light text-violet-800 sm:w-1/2 sm:text-base">
    <div class="flex align-middle justify-between items-center">
       <input class="bg-violet-800 p-3 text-white rounded-md cursor-pointer mx-3" type="submit" value="Edit">
       <input class="bg-violet-800 p-3 text-white rounded-md cursor-pointer" type="submit" value="Delete">
    </div>
   
    <h1 class="text-2xl my-3"><%=post.title%></h1>

      <p class="my-2">Job role: <%=post.role%></p>
      <p class="my-2">Location: <%=post.location%></p>
      <p class="my-2"> Salary: <%=post.salary%></p>
      <p class="my-2"> Qualification: <%=post.qualification%></p>
      <p class="my-2">Experience: <%=post.experience%></p>
      <p class="my-2"> Responsibilities: <%=post.responsibilities%></p>
      <p class="my-2">Skills: <%=post.skills%></p>
      <p class="my-2"> Description: 
        <%=post.content.substring(0, 100) + " ..."%>

       
      </p>
       <a class=" w-full sm:w-1/2 text-center rounded-xl p-3 my-3 bg-violet-800 text-white" href="/job/<%=post._id%>">Read More</a>

  </li>
</ul>

  <!-- <div id="preloader">
     <div id="loader"></div>
  </div> -->
    <a href="#" class="back-to-top d-flex  align-items-center justify-content-center"><i
            class="fas fa-arrow-circle-up"></i></a>

<script src="js/preload.js"></script>


<% }) %>